.tabsHeader{
	color:Red;
}
label {
	min-width:130px;
	max-width:400px;
	margin-right:10px;
	text-align: right;
}
.errordisplay
{
	border:2px solid red;
}
.forminput
{
	/*width:350px;*/
	margin-top:5px;
}

.newusercontainer,.existingusercontainer p
{
	text-align: center;
	font-weight: bold;
}
